


<!--Módulo de pagina de inicio-->
<section ID="INICIO">
    <h1><a href="INICIO">RLouise</a></h1>
    <ul>
        <li> <a href="INICIO">INICIO</a></li>
        <li> <a href="CATALOGO">CATLOGO</a></li>
        <li> <a href="CONTACTO">CONTACTO</a></li>
        <li> <a href="CARRITO">CARRITO DE VENTAS</a></li>       
<img href="C:\Users\USUARIO\RLouise_App\public\RLouise_Logo.jpg">   
    </ul>
</section>
<!--Sección de catálogo-->
<section ID="CATALOGO">
    <h1>CATALOGO</h1>
</section>
<!--Contacto-->
<section ID="CONTACTO">
    <h1>CONTACTO</h1>
    <form>
        <label>Nombre</label>
        <input ID="NOMBRE">
        <label>Correo</label>
        <input ID="CORREO">
        <button>Ingresar</button>
    </form>
</section>
<!--Carrito de ventas-->
<section ID="CARRITO">
    <h1>CARRITO DE COMPRAS</h1>
</section>
<router-outlet />
